* {
  margin: 0;
  padding: 0;
}
.container {
  border: 10px solid #1d1e4c;
  background-color: #e5e5fd;
  height: 100%;
  /* width: 98.5%; */
  padding: 100px 225px 0px 225px;
}
.heading1 {
  height: 320px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-between;
  align-items: flex-end;
}
.image img {
  height: 320px;
  width: 300px;
  border-radius: 50%;
  /* background-color: aqua; */
  /* background-image: url("apj.jpg"); */
  background-size: cover;
}
/* .name {
  position: relative;
  top: 0px;
  right: 0px;
} */
h1 {
  font-size: 50px;
  font-weight: bold;
  color: #1d1e4c;
}
h2 {
  font-size: 30px;
  text-align: end;
}
h4 {
  font-size: 70px;
  font-weight: 400;
  margin-top: 50px;
}
.about {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
  margin-top: 30px;
}
h3 {
  margin-top: 50px;
}
.list {
  line-height: 30px;
  text-align: justify;
  padding: 15px 0px 0px 50px;
  margin-bottom: 50px;
}
footer {
  text-align: end;
  margin-bottom: 50px;
}
